.wrapperHome {
  width: 95vw;
  height: 90vh;
  margin: auto;
  padding-top: 3rem;
}
.wrapperLogo {
  width: 100vw;
  height: 7em;
  padding-top: 3rem;
  background: white;
  padding-left: 2vw;
}
.bgGreen {
  background-color: var(--clr-green5);
  height: 100vh;
  width: 100vw;
}

.logoHolder {
  left: 0;
  width: 20rem;
}

.logoHolder img {
  width: 100%;
}

.wrapRaw {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.wrapRaw h1 {
  color: var(--clr-orange);
}

.splitWrap {
  height: 70vh;
  width: 100%;
  bottom: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3rem;
}

.splitOrange {
  width: 40%;
  background-color: var(--clr-orange);
  height: 70%;
  border-radius: 0 25rem 0 0;
  padding: 6rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.holderBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.holderBtn button {
  padding: 1rem;
  border-radius: 0 2rem;
  margin: 0 2.5rem;
  width: 20rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--clr-green);
  color: white;
}

.searchButton {
  background: var(--clr-green);
  color: white;
  width: 20rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.splitGreen {
  width: 55%;
  background-color: var(--clr-green);
  background-image: url(../../assets/illus.png);
  /* background-position: -914% -56%; */
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 25rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 13.5rem;
  color: var(--clr-white);
}

.splitGreen p {
  margin: 3rem 0rem;
  font-size: 1.8rem;
}

/******* Small computer *******/
@media screen and (max-width: 80em) {
  .splitGreen {
    width: 40%;
    padding: 0 3.5rem;
  }

  .splitGreen p {
    margin: 1rem 0rem;
    font-size: 1.4rem;
  }

  .splitOrange {
    width: 55%;
  }
}
/******* Large Tablet *******/
@media screen and (max-width: 60em) {
  .splitWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 80vh;
  }
  .splitOrange,
  .splitGreen {
    width: 90%;
    margin-top: 3em;
  }

  .splitOrange {
    border-radius: 0 0 25rem 0;
    padding: 0rem 0 0 2rem;
  }
}
@media screen and (max-width: 40em) {
  .splitWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 80vh;
  }

  .splitGreen {
    width: 100%;
    margin-top: 3em;
    min-height: 35vh;
    justify-content: flex-end;
    padding-bottom: 2em;
  }

  .splitOrange {
    border-radius: 0 0 25rem 0;
    padding: 0rem 0 0 2rem;
    width: 100%;
    margin-top: 3em;
    justify-content: space-around;
    min-height: 40vh;
  }
}
