.adminSousCatButton {
  background-color: var(--clr-orange);
  text-align: center;
  color: var(--clr-white);
  cursor: pointer;
  border: solid 5px transparent;
  box-sizing: border-box;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decalage-droit-input-1rem { /* Quand une liste deroulante est a gauche d'un input */
  margin-right: 2rem;
}

.adminSousCatButton:hover {
  border: solid 5px var(--clr-green);
}
