.newCategoContent {
  margin-top: 3rem;
  display: flex;
}

.newCategoInput {
  /*Input nouvel item*/
  height: 5rem;
  padding: 2rem;
  margin: 0 1rem 0 0;
}

.adminButton {
  background-color: var(--clr-orange);
  text-align: center;
  color: var(--clr-white);
  cursor: pointer;
  border: solid 5px transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminButton:hover {
  border: solid 5px var(--clr-green);
}

.elementToEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  border: 2px solid red;
}

.titleElementToEdit {
  height: 5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--clr-green3);
  color: white;
  display: flex;
  align-items: center;
}

.newCategoInputDecal {
  /* correction du margin*/
  margin: 0;
}
