.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#FFFFFF;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #226D68;
    border-bottom-right-radius: 221px ;
    border-left: 1px solid #707070;
    height:100vh;
    width: 20vw;
    min-width:33rem;
    
}

.logo-panel{
    height:90px;
    width: auto;
    object-fit: cover;
    margin: 30px;
}

.bloc-link-side-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bloc-link-side-bar>a{
    text-decoration: none;
    color:#FFFFFF;
    margin: 1em;
}

.bloc-link-side-bar>a:hover{
    text-decoration: underline;
}