.article-form-container{
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    padding:3.7rem 3rem;
    width:  80vw ;/* largeur du composant (partie droite)*/
    height: 100vh;
}

.bjr-user{
font-size: var(--fs-h1);
color:var(--clr-green);
margin-bottom : 8rem;
}

.article-form{
    display: flex;
    flex-direction: column;
}



/* BLOC ARTICLES AND TYPES*/
.articles-and-types{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    border: 2px solid orange
}

.types-articles, .bloc-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titres-colonnes {
    margin: 0 0 2rem 0;
}

/* BLOC ARTICLES */
.bloc-article {
    border : 2px solid blue;
    height: auto;
    width: 90rem;
}
.types-articles{
    border: 2px solid red;
    margin-left : 2rem;
    height: 100%;
}

/*ElEMENTS DE L'ARTICLE*/
.article-form > :nth-child(n){
    height: 5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 2px solid rgb(97, 142, 184);
}


#txt-article{
    resize: none;
        height: 200px;
}





.drop-down-type{
    display:flex;
    flex-direction: column;
    /* border: 2px solid green; */
    
}

.list-deroulante{
    height: 5rem;
    width: 20rem;
    border-radius: 0px 19px;
    opacity: 1;
    padding : 0.5rem;
    margin-bottom: 1.5rem;
}

/* .btn-send-art {
    height: 5rem;
    width: 15.2rem;
    border-radius: 0px 19px;
    opacity: 1;
    padding :  0.5rem;
    margin: 0;
    background : #E38454; 
    border: 2px solid ;
} */

.bloc-deroulant-publier{
/* border: 3px solid pink; */
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between
}