.cardDetails {
  width: clamp(250px, 80vw, 1000px);
  height: 20.5em;
  margin: auto;
  background-color: var(--clr-green);
  margin-top: 150px;
  display: flex;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
}

.leftAlignCard {
  flex-direction: row;
}

.rightAlignCard {
  flex-direction: row-reverse;
}

.imgCard {
  height: 100%;
  width: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCard img {
  max-width: 150%;
}

.holderContent {
  width: 35%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.holderContent h2 {
  font-size: clamp(1.6rem, 1.1558rem + 1.2338vw, 3rem);
}

.holderContent p {
}

@media screen and (max-width: 40em) {
  .leftAlignCard {
    flex-direction: column;
  }

  .rightAlignCard {
    flex-direction: column;
  }

  .cardDetails {
    height: 30em;
    align-items: center;
  }
  .imgCard {
    width: 100%;
  }

  .imgCard img {
    max-width: 100%;
  }

  .holderContent {
    width: 80%;
  }
}
