.headerWrapperLogo {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-top: 2rem;
}

.headerWrapperLogo h5 {
  color: var(--clr-green);
}

.headerLogoHolder {
  left: 0;
  width: 20rem;
  margin: 2rem;
}
