.article-form-container{
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    padding:3.7rem 3rem;
    width:  80vw ;/* largeur du composant (partie droite)*/
    height: 100vh;
}

.bjr-user{
color:var(clear-green5);
margin-bottom : 8rem;
}

.search-bar-form{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-between;
}



/* BLOC ARTICLES AND TYPES*/
.articles-and-types{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    padding-left : 3rem;
}

.bloc-article-liste {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    border : 2px solid blue;

}

.titres-colonnes {
    margin: 0 0 2rem 0;
}









.list-deroulante{
    height: 5rem;
    width: 20rem;
    border-radius: 0px 19px;
    opacity: 1;
    padding : 0.5rem;
    /* margin-bottom: 1.5rem; */


}

.bloc-deroulant-publier{
/* border: 3px solid pink; */
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between
}


.tableau { /* A VOIR PK BUG*/
    margin: 4rem 0;
}

.titres-tableau {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-between
}