:root {
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

/* // =========================
// Icons
// ========================= */

.icon {
  fill: var(--color-primary);
  width: 100%;
}

/* // =========================
// Buttons
// ========================= */

.btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.125rem;
  color: var(--color-focus);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;

  &:focus {
    outline-color: var(--color-focus);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }

  &:active {
    transform: translateY(1px);
  }
}
/* // =========================
// Slider controls
// ========================= */

// .slider__controls {
//   display: flex;
//   justify-content: center;
//   position: absolute;
//   top: calc(100% + 1rem);
//   width: 100%;
//   display: none;

  .btn {
    --size: 3rem;
    align-items: center;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 100%;
    display: flex;
    height: var(--size);
    padding: 0;
    width: var(--size);

    &:focus {
      border-color: var(--color-focus);
      outline: none;
    }

    &--previous > * {
      transform: rotate(180deg);
    }
  }


/* // =========================
// Slider
// ========================= */

.slider {
  --slide-size: 15em;
  --slide-margin: 2em;
  display: flex;
  justify-content: center;
  height: var(--slide-size);
  margin: 0 auto;
  position: relative;
  width: var(--slide-size);
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  margin: 0 calc(var(--slide-margin) * -1);
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
}

/* // =========================
// Slide
// ========================= */

.slide {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0;
  position: relative;
  text-align: center;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;

  &--previous,
  &--next {
    &:hover {
      opacity: 0.5;
    }
  }

  &--previous {
    // cursor: w-resize;
    opacity: 0.5;

    &:hover {
      transform: translateX(2%);
    }
  }

  &--next {
    cursor: e-resize;
    opacity: 0.5;

    &:hover {
      transform: translateX(-2%);
    }
  }
 
}

.slide--current {
  opacity: 1;
  pointer-events: auto;
  user-select: auto;
}

.slide__headline {
  font-size: --ff-body;
  position: relative;
}

.slide__headline {
  width: 18rem;
  height: 5rem;
  cursor: pointer;
}

.slide__content {
  --d: 60;
  padding: 4vmin;
  position: relative;

  .slide--current & {
    visibility: visible;
  }

  > * + * {
    margin-top: 2rem;
  }
}

/* // =========================
// Animations
// ========================= */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 40em) {
  .slider {
    --slide-size: 10em;
    --slide-margin: 1.5em;
  }
}
