.groupCards {
  /* justify-content: space-around; */
  /* column-count: 3; */
}
.cardProjectContainer {
  background: rgba(181, 188, 240) 100%;
  width: 200px;
  height: 200px;
  text-align: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  margin-left: 12em;
  margin-bottom: 3em;
}
.pProject {
  font-size: 85%;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.nameProject {
}
