@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap");
/* --------------------- */
/* Root                  */
/* --------------------- */

/* --------------------- */
/* Break Points          */
/* 70em (1120px)Ordi     */
/* 45em (688px) Tablette */
/* --------------------- */

html {
  font-size: 62.5%;
  /*1rem = 10px */
}

:root {
  /******* colors *******/

  /* --clr-dark: 230 35% 7%; */
  /* color: hsl(var(--clr-white) / 0.8); */
  --clr-green: #3b7c77;
  --clr-green2: #629692;
  --clr-green3: #85ada9;
  --clr-green4: #a3c2bf;
  --clr-green5: #b0cac8;

  --clr-orange: #e38360;
  --clr-orange2: #e99c81;
  --clr-orange3: #eeb5a0;
  --clr-orange4: #f0c0af;
  --clr-orange5: #f2c1b0;

  --clr-white: #fff;
  --clr-bg-green: #d7e5e4;

  /******* font-sizes *******/
  /* --fs-h1: clamp(min, ratio, max); Exemple pour avoir une typo responsive*/
  /* --fs-h1: clamp(5rem, 8vw + 1rem, 9.375rem); Exemple pour avoir une typo responsive*/
  /* --fs-h6: clamp(1rem, 4vw + 0.5rem, 3rem); Exemple pour avoir une typo responsive*/
  --fs-h1: 2.5rem;
  --fs-h2: font-size: clamp(1.6rem, 1.1558rem + 1.2338vw, 3rem);
  --fs-h3: 1.8rem;
  --fs-h4: 1.6rem;
  --fs-body: 1.6rem;
  --fs-corps: 1.4rem;

  /******* font-families *******/
  --ff-body: "Work Sans", sans-serif;
}



/* --------------------- */
/*      Reset            */
/* --------------------- */

/******* Box sizing *******/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******* Body *******/
body {
  min-height: 100vh;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

/******* Images *******/
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* ----------------------- */
/*  Utility classes Typo   */
/* ----------------------- */

h1,
h2 {
  font-weight: normal;
  margin-block-end: 0;
  margin-block-start: 0;
}

h1 {
  color: var(--clr-orange);
  font-size: 2.5rem;
}

h2 {
  color: var(--clr-white);
   font-size: clamp(2rem, 1.3571rem + 2.8571vw, 3rem);;
}

h3 {
}

p {
  font-size: clamp(1.4rem, 1.0597rem + 0.3896vw, 1.8rem);
}

/*Border Radius */

.borderRadius {
  border-radius: 2.6rem 2.6rem 0 2.6rem;
}

/*Bouton vert -- Class à mettre sur tout les btn vert*/

.buttonGreen {
  padding: 1rem;
  border-radius: 0 2rem;
  margin: 0 2.5rem;
  width: 20rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--clr-green);
  color: var(--clr-white);
  cursor: pointer;
  border: solid 5px transparent;
  box-sizing: border-box;
}

.buttonGreen:hover {
  background: var(--clr-green2);
  border: solid 5px var(--clr-bg-green);
}

.button2 {
  height: 5rem;
  width: 20rem;
  opacity: 1;
  padding: 0.5rem;
  margin: 0 1rem;

  padding: 0.5rem 2rem;
  border-radius: 0 2rem;
  text-align: left;
}

/* .btnGreen {
  background-color: var(--clr-green);
  color: var(--clr-white);
} */
.btnOrange {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnWhite {
  background-color: var(--clr-white);
  /* color: var(--clr-green); */
}
/* COMPOSANT DU PANEL ADMIN MODIFIANT LA TAILLE DE LA FONT */

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,
.MuiTablePagination-root,
.css-rtrcn9-MuiTablePagination-root,
.MuiTablePagination-root p,
.css-rtrcn9-MuiTablePagination-root p,
.css-ahj2mt-MuiTypography-root {
  font-size: 1.5rem !important;
}

.MuiInputLabel-root,
.MuiInputLabel-formControl,
.MuiInputLabel-animated,
.MuiInputLabel-shrink,
.MuiInputLabel-standard,
.MuiFormLabel-root,
.MuiFormLabel-colorPrimary,
.MuiFormLabel-filled,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 1.8rem !important;
}

.css-i4bv87-MuiSvgIcon-root {
  display: none !important;
}

/******* Tablet *******/
@media screen and (max-width: 45em) {
  :root {
    /* font-sizes */
    --fs-h2: 4rem;
  }
}

/******* Phone *******/
@media screen and (max-width: 35em) {
  :root {
    /* font-sizes */
  }
  .buttonGreen {
    width: 14rem
  }
}